header{
  height: 55px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

img {
  width: 30px;
  height: 30px;

  border-radius: 50%;
}
